pipeline/Azure Advisor Recommendations.json
{
	"name": "Azure Advisor Recommendations",
	"properties": {
		"activities": [
			{
				"name": "Get Azure Subscriptions",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions?api-version=2022-12-01",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "3aa4a235-b6e2-48d5-9195-7fcf05b459b0",
						"username": "4c1cded2-f7a7-4c00-8d65-0a3287cbd682",
						"resource": "https://management.azure.com",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ACM_Toolkit_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "sp-password"
						}
					}
				}
			},
			{
				"name": "Get advisor cost recommendations",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Azure Subscriptions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Azure Subscriptions').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Azure Advisor Subscription Recommendations",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "subscriptionId",
											"value": {
												"value": "@item().subscriptionId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['properties']['category']"
											},
											"sink": {
												"name": "category",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['impact']"
											},
											"sink": {
												"name": "impact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['impactField']"
											},
											"sink": {
												"name": "impactField",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['impactedValue']"
											},
											"sink": {
												"name": "impactedValue",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['lastUpdated']"
											},
											"sink": {
												"name": "lastUpdated",
												"type": "DateTimeOffset"
											}
										},
										{
											"source": {
												"path": "['properties']['recommendationTypeId']"
											},
											"sink": {
												"name": "recommendationTypeId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['shortDescription']['problem']"
											},
											"sink": {
												"name": "problem",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['shortDescription']['solution']"
											},
											"sink": {
												"name": "solution",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['subId']"
											},
											"sink": {
												"name": "subId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['sku']"
											},
											"sink": {
												"name": "sku",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['scope']"
											},
											"sink": {
												"name": "scope",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['commitment']"
											},
											"sink": {
												"name": "commitment",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['annualSavingsAmount']"
											},
											"sink": {
												"name": "annualSavingsAmount",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['savingsAmount']"
											},
											"sink": {
												"name": "savingsAmount",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['savingsCurrency']"
											},
											"sink": {
												"name": "savingsCurrency",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['term']"
											},
											"sink": {
												"name": "term",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['lookbackPeriod']"
											},
											"sink": {
												"name": "lookbackPeriod",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['qty']"
											},
											"sink": {
												"name": "qty",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['reservedResourceType']"
											},
											"sink": {
												"name": "reservedResourceType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['region']"
											},
											"sink": {
												"name": "region",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['extendedProperties']['targetResourceCount']"
											},
											"sink": {
												"name": "targetResourceCount",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['subscriptionId']"
											},
											"sink": {
												"name": "subscriptionId",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['value']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "AzureAdvisorRecommendationSource",
									"type": "DatasetReference",
									"parameters": {
										"subscriptionId": {
											"value": "@item().subscriptionId",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureAdvisorRecommendationsSink",
									"type": "DatasetReference",
									"parameters": {
										"subscriptionId": {
											"value": "@item().subscriptionId",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Write recommendations to aggregate file",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Get advisor cost recommendations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "advisor-recommendations-processing",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": {
								"value": "@pipeline().parameters.storageAccount",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"storageAccount": {
				"type": "string",
				"defaultValue": "s037costmgmt"
			}
		},
		"variables": {
			"SubscriptionId": {
				"type": "String"
			},
			"recommendations": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/Management API (New)"
		},
		"annotations": []
	}
}