pipeline/Backup_Get SNOW App List Web.json
{
	"name": "Backup_Get SNOW App List Web",
	"properties": {
		"activities": [
			{
				"name": "Authenticate",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&scope=openid 83b84d80-e0a7-409e-a3d5-70c2512f203d/.default')",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "5eb7f785-f27d-44d9-a53d-b19478160c4a",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ACM_Toolkit_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "SnowProdUserPwd"
						}
					}
				}
			},
			{
				"name": "Get Client Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://acm-toolkit-kv.vault.azure.net/secrets/SnowProdUserPwd/b182c5332cb440af9e05e97f579968c1?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ClientSecret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Client Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClientSecret",
					"value": {
						"value": "@activity('Get Client Secret').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ServiceNowApplicationTable",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Authenticate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:10:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('Authenticate').output.access_token)",
								"type": "Expression"
							},
							"Ocp-Apim-subscription-Key": "85b62cfbeb9f493da8d257d9abe561f5",
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ServiceNow_Application_View",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ServiceNowApplicationData",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"ClientSecret": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesNotInUse"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-18T06:59:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}