pipeline/compute-hub-and-ri-savings.json
{
	"name": "compute-hub-and-ri-savings",
	"properties": {
		"activities": [
			{
				"name": "HUB Daily File",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "HUB_Daily_File",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": {
								"value": "@variables('storageAccount')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sprkpool33large",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				}
			},
			{
				"name": "Compute VM and SQL HUB Savings",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "HUB Daily File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "compute-hub-savings",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": "s037costmgmt",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Compute RI Savings",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Compute VM and SQL HUB Savings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "compute-ri-savings",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": "s037costmgmt",
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"variables": {
			"storageAccount": {
				"type": "String",
				"defaultValue": "s037costmgmt"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/HUB and RI"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-17T22:03:18Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}