pipeline/compute-hub-deployments.json
{
	"name": "compute-hub-deployments",
	"properties": {
		"activities": [
			{
				"name": "Compute VM HUB deployments",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set todays date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "vm-hub-deployments",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Compute SQL HUB deployments",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set todays date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "sql-hub-deployments",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Persist VM deployment log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Compute VM HUB deployments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "VMDeploymentsSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "VMDeploymentSink",
						"type": "DatasetReference",
						"parameters": {
							"today": {
								"value": "@variables('today')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Persist SQL deployment log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Compute SQL HUB deployments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDeploymentSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLDeploymentSink",
						"type": "DatasetReference",
						"parameters": {
							"today": {
								"value": "@variables('today')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Persist VM disable log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Persist VM deployment log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "VMDisableSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "VMDisableSink",
						"type": "DatasetReference",
						"parameters": {
							"today": {
								"value": "@variables('today')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set todays date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "today",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Persist SQL disable log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Persist SQL deployment log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDisableSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLDisableSink",
						"type": "DatasetReference",
						"parameters": {
							"today": {
								"value": "@variables('today')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"today": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/HUB and RI"
		},
		"annotations": []
	}
}