pipeline/Convert Monthly CSV Cost files to Parquet.json
{
	"name": "Convert Monthly CSV Cost files to Parquet",
	"properties": {
		"activities": [
			{
				"name": "Convert Amortised Cost CSV to Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set last day of the month date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat(variables('AmortizedCost_Path'),variables('fromDate'),'-',variables('toDate'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "InvoiceSectionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "InvoiceSectionName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountOwnerId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountOwnerId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EffectivePrice",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "EffectivePrice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostInBillingCurrency",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostInBillingCurrency",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Tags",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tags",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReservationId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReservationId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReservationName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReservationName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitPrice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductOrderId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductOrderId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductOrderName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductOrderName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Term",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Term",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PublisherType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PublisherType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PublisherName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PublisherName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ChargeType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ChargeType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Frequency",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Frequency",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PricingModel",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PricingModel",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AvailabilityZone",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AvailabilityZone",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingAccountId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingAccountId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingAccountName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingAccountName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingCurrencyCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingCurrencyCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingPeriodStartDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingPeriodStartDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingPeriodEndDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingPeriodEndDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingProfileId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingProfileId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingProfileName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingProfileName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InvoiceSectionId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "InvoiceSectionId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IsAzureCreditEligible",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsAzureCreditEligible",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PayGPrice",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "PayGPrice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PlanName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PlanName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceFamily",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceFamily",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostAllocationRuleName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostAllocationRuleName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "benefitId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "benefitId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "benefitName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "benefitName",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Adhoc_CSV_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Monthly_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "@concat(variables('AmortizedCost_Path'),variables('fromDate'),'-',variables('toDate'))",
								"type": "Expression"
							},
							"Container": {
								"value": "@variables('Container')",
								"type": "Expression"
							},
							"toDate_fromDate": {
								"value": "@concat(variables('fromDate'),'-',variables('toDate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set last day of the month date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set first day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "toDate",
					"value": {
						"value": "@replace(replace(adddays(formatDateTime(adddays(formatDateTime(concat(variables('Year'),'-',variables('Month'),'-01'), 'yyyy-MM-28'),5), 'yyyy-MM-01'),-1),'T00:00:00.0000000',''),'-','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set first day of month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromDate",
					"value": {
						"value": "@concat(variables('Year'),variables('Month'),'01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Month",
					"value": {
						"value": "@if(\n    equals(int(formatdatetime(utcnow(),'MM')),1),\n    '12',\n    if(\n        less(sub(int(formatdatetime(utcnow(),'MM')),10),1),\n            concat('0',string(sub(int(formatdatetime(utcnow(),'MM')),1))),\n            string(sub(int(formatdatetime(utcnow(),'MM')),1))))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Year",
					"value": {
						"value": "@if(\n    equals(int(formatDateTime(utcNow(), 'MM')), 01),\n     string(sub(int(formatDateTime(utcNow(), 'yyyy')),1)),\n     string(int(formatDateTime(utcNow(), 'yyyy'))))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Convert Actual Cost CSV to Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set last day of the month date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat(variables('ActualCost_Path'),variables('fromDate'),'-',variables('toDate'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "InvoiceSectionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "InvoiceSectionName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountOwnerId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountOwnerId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EffectivePrice",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "EffectivePrice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostInBillingCurrency",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostInBillingCurrency",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Tags",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tags",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReservationId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReservationId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReservationName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReservationName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitPrice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductOrderId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductOrderId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductOrderName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductOrderName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Term",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Term",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PublisherType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PublisherType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PublisherName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PublisherName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ChargeType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ChargeType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Frequency",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Frequency",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PricingModel",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PricingModel",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AvailabilityZone",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AvailabilityZone",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingAccountId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingAccountId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingAccountName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingAccountName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingCurrencyCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingCurrencyCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingPeriodStartDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingPeriodStartDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingPeriodEndDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingPeriodEndDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingProfileId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingProfileId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BillingProfileName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BillingProfileName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InvoiceSectionId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "InvoiceSectionId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IsAzureCreditEligible",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsAzureCreditEligible",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PayGPrice",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "PayGPrice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PlanName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PlanName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceFamily",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceFamily",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostAllocationRuleName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostAllocationRuleName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "benefitId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "benefitId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "benefitName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "benefitName",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Adhoc_CSV_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Monthly_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "@concat(variables('ActualCost_Path'),variables('fromDate'),'-',variables('toDate'))",
								"type": "Expression"
							},
							"Container": {
								"value": "@variables('Container')",
								"type": "Expression"
							},
							"toDate_fromDate": {
								"value": "@concat(variables('fromDate'),'-',variables('toDate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Extend AI column and WBS tags - populate MS App columns",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Convert Actual Cost CSV to Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Convert Amortised Cost CSV to Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Monthly Extend AI column and WBS tags_v2",
						"type": "NotebookReference"
					},
					"parameters": {
						"toDate": {
							"value": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"type": "string"
						},
						"fromDate": {
							"value": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sprkpool33large",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Large",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Large"
				}
			}
		],
		"variables": {
			"Month": {
				"type": "String"
			},
			"Year": {
				"type": "String"
			},
			"toDate": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"AmortizedCost_Path": {
				"type": "String",
				"defaultValue": "exports/monthly/ACMMonthlyAmortizedCost/"
			},
			"Container": {
				"type": "String",
				"defaultValue": "usage"
			},
			"ActualCost_Path": {
				"type": "String",
				"defaultValue": "exports/monthly/ACMMonthlyActualCost/"
			}
		},
		"folder": {
			"name": "Management API (New)"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-08T08:39:03Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}