pipeline/Daily VM Utilization.json
{
	"name": "Daily VM Utilization",
	"properties": {
		"activities": [
			{
				"name": "Get Azure Subscriptions",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions?api-version=2022-12-01",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "3aa4a235-b6e2-48d5-9195-7fcf05b459b0",
						"username": "c282b841-bb78-4904-aba9-4aebf02ccb71",
						"resource": "https://management.azure.com",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ACM_Toolkit_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "Azure-Cost-Management-Metrics-Reader-secret"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Azure Subscriptions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Azure Subscriptions').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Fetch and store VM utilization data",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Get resource locations in subscription",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "VM-utilization-fetch",
									"type": "NotebookReference"
								},
								"parameters": {
									"subscriptionId": {
										"value": {
											"value": "@item().subscriptionId",
											"type": "Expression"
										},
										"type": "string"
									},
									"startDate": {
										"value": {
											"value": "@formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd')",
											"type": "Expression"
										},
										"type": "string"
									},
									"endDate": {
										"value": {
											"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"type": "string"
									},
									"storageAccount": {
										"value": {
											"value": "@pipeline().parameters.storageAccount",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Get resource locations in subscription",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['location']"
											},
											"sink": {
												"name": "location",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['value']"
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSubscriptionResources",
									"type": "DatasetReference",
									"parameters": {
										"subscriptionId": {
											"value": "@item().subscriptionId",
											"type": "Expression"
										},
										"resourceType": "'Microsoft.Compute/virtualMachines'"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SubscriptionResourceLocations",
									"type": "DatasetReference",
									"parameters": {
										"subscriptionId": {
											"value": "@item().subscriptionId",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"storageAccount": {
				"type": "string",
				"defaultValue": "s037costmgmt"
			}
		},
		"variables": {
			"resourceType": {
				"type": "String",
				"defaultValue": "'Microsoft.Compute/virtualMachines'"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/Management API (New)"
		},
		"annotations": []
	}
}