pipeline/Extend Daily Actual Cost.json
{
	"name": "Extend Daily Actual Cost",
	"properties": {
		"activities": [
			{
				"name": "Extend Actual Cost",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Extend Daily Cost",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ReportType": "ActualCost"
					}
				}
			},
			{
				"name": "Run cumulative cost prediction",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Extend Actual Cost",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "compute-cumulative-cost",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": {
								"value": "@variables('storageAccount')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"variables": {
			"storageAccount": {
				"type": "String",
				"defaultValue": "s037costmgmt"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/Cost"
		},
		"annotations": []
	}
}