pipeline/Get Daily Usage.json
{
	"name": "Get Daily Usage",
	"properties": {
		"activities": [
			{
				"name": "Set Today",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "If more than 1 days into the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Days",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For each day",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Today",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Days')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Get Daily Usage Data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Loop - Get Daily Usage Data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"day": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "If more than 6 days into the month",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(formatDateTime(utcNow(),'dd')),6)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set 6 days ago",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Days",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),-6),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If more than 5 days into the month",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If more than 6 days into the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(formatDateTime(utcNow(),'dd')),5)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set 5 days ago",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Days",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),-5),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If more than 4 days into the month",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If more than 5 days into the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(formatDateTime(utcNow(),'dd')),4)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set 4 days ago",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Days",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),-4),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If more than 2 days into the month",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If more than 3 days into the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(formatDateTime(utcNow(),'dd')),2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set 2 days ago",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Days",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),-2),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If more than 3 days into the month",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If more than 4 days into the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(formatDateTime(utcNow(),'dd')),3)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set 3 days ago",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Days",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),-3),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If more than 1 days into the month",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If more than 2 days into the month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(formatDateTime(utcNow(),'dd')),1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set Yesterday",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Days",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),-1),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Days": {
				"type": "Array"
			},
			"test": {
				"type": "String"
			},
			"Loop-Count": {
				"type": "String"
			},
			"Bearer": {
				"type": "String"
			},
			"blobPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Consumption API (Old)"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-18T13:48:34Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}