pipeline/Loop - Get Daily Usage Data.json
{
	"name": "Loop - Get Daily Usage Data",
	"properties": {
		"activities": [
			{
				"name": "Post Consumption Request",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Bearer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://consumption.azure.com/v3/enrollments/57950773/usagedetails/submit?startTime=',pipeline().parameters.day,'&endTime=',pipeline().parameters.day)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ',activity('Get Bearer').output.value)}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Until Data Ready",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Post Consumption Request",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(not(empty(activity('Check Status').output.blobPath)))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Post Consumption Request').output.reportUrl",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ',activity('Get Bearer').output.value)}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Waiting for Data",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Check Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "Set blobPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until Data Ready",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "blobPath",
					"value": {
						"value": "@activity('Check Status').output.blobPath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Bearer",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://acm-toolkit-kv.vault.azure.net/secrets/EA-API-PRI-KEY/d222708c46d54a0abd273cc0877b6aad?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy file from MS to Synapse datastore_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set blobPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ms_billing_output_file",
						"type": "DatasetReference",
						"parameters": {
							"blobPath": {
								"value": "@variables('blobPath')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "S037_Usage_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"fromDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"toDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"Scope": {
								"value": "@variables('Scope')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV to Parquet remove first 2 rows",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy file from MS to Synapse datastore_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "daily",
							"wildcardFileName": {
								"value": "@concat(pipeline().parameters.day,'-raw.csv')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 1
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AccountId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountOwnerEmail",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountOwnerEmail",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ConsumedQuantity",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "ConsumedQuantity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ConsumedServiceId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ConsumedServiceId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Cost",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "Cost",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DepartmentId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DepartmentId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DepartmentName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DepartmentName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InstanceId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "InstanceId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceLocationId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceLocationId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceRate",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceRate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceAdministratorId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceAdministratorId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "StoreServiceIdentifier",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StoreServiceIdentifier",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionGuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionGuid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Tags",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tags",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ResourceGuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ResourceGuid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ChargesBilledSeparately",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ChargesBilledSeparately",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Location",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Location",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ServiceTier",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ServiceTier",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "S037CSVSourceDataset",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "\"NA\"",
								"type": "Expression"
							},
							"Month": {
								"value": "NA",
								"type": "Expression"
							},
							"toDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"scope": {
								"value": "@variables('Scope')",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "S037Parquet",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "NA",
								"type": "Expression"
							},
							"Month": {
								"value": "NA",
								"type": "Expression"
							},
							"toDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"Scope": {
								"value": "@variables('Scope')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Cleaned Parquet to CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV to Parquet remove first 2 rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "S037Parquet",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "NA",
								"type": "Expression"
							},
							"Month": {
								"value": "NA",
								"type": "Expression"
							},
							"toDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"Scope": {
								"value": "@variables('Scope')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "S037_Cleaned_CSV_Dest",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "NA",
								"type": "Expression"
							},
							"Month": {
								"value": "NA",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"toDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"Scope": {
								"value": "@variables('Scope')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete Raw File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Cleaned Parquet to CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "S037_Usage_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"fromDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"toDate": {
								"value": "@pipeline().parameters.day",
								"type": "Expression"
							},
							"Scope": {
								"value": "@variables('Scope')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"concurrency": 3,
		"parameters": {
			"day": {
				"type": "string"
			}
		},
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"Scope": {
				"type": "String",
				"defaultValue": "daily"
			}
		},
		"folder": {
			"name": "Consumption API (Old)"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-18T13:45:17Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}