pipeline/New API - Calculate Savings.json
{
	"name": "New API - Calculate Savings",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Months",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Months')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "New API Calculate RI Savings",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Set ActualUsage Path",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "New API - Calculate Savings",
									"type": "NotebookReference"
								},
								"parameters": {
									"Path": {
										"value": {
											"value": "@variables('Path')",
											"type": "Expression"
										},
										"type": "string"
									},
									"year": {
										"value": {
											"value": "@pipeline().parameters.Year",
											"type": "Expression"
										},
										"type": "string"
									},
									"month": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "string"
									},
									"dateRange": {
										"value": {
											"value": "@variables('dateRange')",
											"type": "Expression"
										},
										"type": "string"
									},
									"reportType": {
										"value": {
											"value": "@pipeline().parameters.reportType",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"executorSize": null,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": null,
								"numExecutors": null
							}
						},
						{
							"name": "Set last day in Month",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set first day of month",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "toDate",
								"value": {
									"value": "@replace(adddays(formatDateTime(adddays(formatDateTime(variables('fromDate'), 'yyyy-MM-28'),5), 'yyyy-MM-01'),-1),'T00:00:00.0000000','')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set first day of month",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Year",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fromDate",
								"value": {
									"value": "@concat(variables('Year'),'-',item(),'-01')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Year",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Year",
								"value": {
									"value": "@pipeline().parameters.Year",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set ActualUsage Path",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set ActualUsage Date Range",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Path",
								"value": {
									"value": "@if(equals(pipeline().parameters.reportType,'ActualCost'),concat('exports/monthly/ACMMonthlyActualCost/',variables('dateRange')),if(equals(pipeline().parameters.reportType,'AmortizedCost'),concat('exports/monthly/ACMMonthlyAmortizedCost/',variables('dateRange')),'Not Found'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set ActualUsage Date Range",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set last day in Month",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dateRange",
								"value": {
									"value": "@concat(replace(variables('fromDate'),'-',''),'-',replace(variables('toDate'),'-',''))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Months",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Months",
					"value": [
						"01",
						"02",
						"03",
						"04",
						"05",
						"06",
						"07",
						"08",
						"09",
						"10",
						"11",
						"12"
					]
				}
			}
		],
		"parameters": {
			"Year": {
				"type": "string",
				"defaultValue": "2022"
			},
			"reportType": {
				"type": "string",
				"defaultValue": "ActualCost"
			}
		},
		"variables": {
			"Months": {
				"type": "Array"
			},
			"Year": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"toDate": {
				"type": "String"
			},
			"Path": {
				"type": "String"
			},
			"dateRange": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesNotInUse/Keep/Management API (New)"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-08T15:35:11Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}