pipeline/Old API - Calculate Savings.json
{
	"name": "Old API - Calculate Savings",
	"properties": {
		"activities": [
			{
				"name": "Calculate HUB",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set Last Day of Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "HUB Savings",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"executorSize": null,
					"driverSize": null
				}
			},
			{
				"name": "Calculate RI VM",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set Last Day of Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "RI VM Savings",
						"type": "NotebookReference"
					},
					"parameters": {
						"start_date": {
							"value": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							},
							"type": "string"
						},
						"end_date": {
							"value": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"type": "string"
						},
						"Year": {
							"value": {
								"value": "@variables('Year')",
								"type": "Expression"
							},
							"type": "string"
						},
						"Month": {
							"value": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"executorSize": null,
					"driverSize": null
				}
			},
			{
				"name": "Set fromDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromDate",
					"value": {
						"value": "@concat(variables('Year'),'-',variables('Month'),'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Last Day of Month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set fromDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "toDate",
					"value": {
						"value": "@replace(adddays(formatDateTime(adddays(formatDateTime(variables('fromDate'), 'yyyy-MM-28'),5), 'yyyy-MM-01'),-1),'T00:00:00.0000000','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Month",
					"value": {
						"value": "@pipeline().parameters.Month",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Year",
					"value": {
						"value": "@pipeline().parameters.Year",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Month": {
				"type": "string",
				"defaultValue": "06"
			},
			"Year": {
				"type": "string",
				"defaultValue": "2022"
			}
		},
		"variables": {
			"fromDate": {
				"type": "String"
			},
			"toDate": {
				"type": "String"
			},
			"Year": {
				"type": "String"
			},
			"Month": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Consumption API (Old)"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-08T15:35:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}