pipeline/persist-latest-pricesheet.json
{
	"name": "persist-latest-pricesheet",
	"properties": {
		"activities": [
			{
				"name": "Set first day of month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "firstday",
					"value": {
						"value": "@concat(formatDateTime(utcNow(), 'yyyyMM'), '01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set last day of month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set first day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastday",
					"value": {
						"value": "@formatDateTime(subtractFromTime(concat(formatDateTime(addToTime(utcNow(), 1, 'Month'),'yyyy-MM'), '-01'), 1, 'Day'), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set folder path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set last day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folderpath",
					"value": {
						"value": "@concat(variables('firstday'), '-', variables('lastday'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Persist with latest suffix",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set folder path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "persist-latest-pricesheet",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": "s037costmgmt",
							"type": "string"
						},
						"dateRange": {
							"value": {
								"value": "@variables('folderpath')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Convert pricesheet csv to parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Persist with latest suffix",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('pricesheet/portal-export/FinOps-Pricesheet-Monthly/', variables('folderpath'), '/*')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PricesheetExportSource",
						"type": "DatasetReference",
						"parameters": {
							"dateRange": {
								"value": "@variables('folderpath')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PricesheetExportSink",
						"type": "DatasetReference",
						"parameters": {
							"dateRange": {
								"value": "@variables('folderpath')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"concurrency": 1,
		"variables": {
			"lastday": {
				"type": "String"
			},
			"firstday": {
				"type": "String"
			},
			"folderpath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/Pricesheet"
		},
		"annotations": []
	}
}