pipeline/persist-latest.json
{
	"name": "persist-latest",
	"properties": {
		"activities": [
			{
				"name": "Set first day of month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "firstday",
					"value": {
						"value": "@concat(formatDateTime(utcNow(), 'yyyyMM'), '01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set last day of month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set first day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastday",
					"value": {
						"value": "@formatDateTime(subtractFromTime(concat(formatDateTime(addToTime(utcNow(), 1, 'Month'),'yyyy-MM'), '-01'), 1, 'Day'), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set folder path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set last day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folderpath",
					"value": {
						"value": "@concat(variables('firstday'), '-', variables('lastday'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"lastday": {
				"type": "String"
			},
			"firstday": {
				"type": "String"
			},
			"folderpath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/Pricesheet"
		},
		"annotations": []
	}
}