pipeline/RI Charges.json
{
	"name": "RI Charges",
	"properties": {
		"activities": [
			{
				"name": "Convert data to Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Last Day of Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "retrieve_cost_report_ms_billing_source",
						"type": "DatasetReference",
						"parameters": {
							"fromDate": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							},
							"toDate": {
								"value": "@variables('toDate')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ReservationFileTransform_dst",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "@variables('Year')",
								"type": "Expression"
							},
							"Month": {
								"value": "@variables('Month')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set fromDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromDate",
					"value": {
						"value": "@concat(variables('Year'),'-',variables('Month'),'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Last Day of Month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set fromDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "toDate",
					"value": {
						"value": "@replace(adddays(formatDateTime(adddays(formatDateTime(variables('fromDate'), 'yyyy-MM-28'),5), 'yyyy-MM-01'),-1),'T00:00:00.0000000','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Month",
					"value": {
						"value": "@if(less(sub(int(formatdatetime(utcnow(),'MM')),11),0),concat('0',string(sub(int(formatdatetime(utcnow(),'MM')),1))),string(sub(int(formatdatetime(utcnow(),'MM')),1)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Year",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fromDate": {
				"type": "String"
			},
			"toDate": {
				"type": "String"
			},
			"Year": {
				"type": "String"
			},
			"Month": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/Consumption API (Old)"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-20T14:42:07Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}