pipeline/servicenow-applications-daily-persist.json
{
	"name": "NewServiceNow",
	"properties": {
		"activities": [
			{
				"name": "NewServiceNowPipeline",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ApplicationName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ApplicationName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AppID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "AppID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ServiceOffering.Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceOffering.Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Updated",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Created",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Created",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LifeCycleState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LifeCycleState",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EndOfLifeDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EndOfLifeDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OperationalStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperationalStatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OperationalWBS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperationalWBS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductOwnerNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductOwnerNo",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductOwnerShortName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductOwnerShortName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "UserRepresentative",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "UserRepresentative",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BusinessProcessArea",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BusinessProcessArea",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OmniaSubscriptions",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OmniaSubscriptions",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IsOmniaSubscription",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsOmniaSubscription",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OperationalUnitManagerNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperationalUnitManagerNo",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OperationalManagerShortName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperationalManagerShortName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OperationalUnit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperationalUnit",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OperationalUnitOrgUnit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperationalUnitOrgUnit",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NewServiceNowSourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NewServiceNowSinkDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "NewServiceNowNotebook",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NewServiceNowPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Prod_ServiceNowApplication",
						"type": "NotebookReference"
					},
					"parameters": {
						"storageAccount": {
							"value": {
								"value": "@variables('storageAccount')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sprkpool33large",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Large",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Large",
					"numExecutors": null
				}
			}
		],
		"variables": {
			"storageAccount": {
				"type": "String",
				"defaultValue": "s037costmgmt"
			}
		},
		"folder": {
			"name": "PipelinesInProduction/ServiceNowPipeline"
		},
		"annotations": []
	}
}