pipeline/Test SPARK Ad-hoc Convert and Extend CSV Cost files to Parquet.json
{
	"name": "Test SPARK Ad-hoc Convert and Extend CSV Cost files to Parquet",
	"properties": {
		"description": "Have to double check with JOakim",
		"activities": [
			{
				"name": "Set toDate to be last day of month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set first day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "toDate",
					"value": {
						"value": "@replace(replace(adddays(formatDateTime(adddays(formatDateTime(concat(pipeline().parameters.Year,'-',pipeline().parameters.Month,'-01'), 'yyyy-MM-28'),5), 'yyyy-MM-01'),-1),'T00:00:00.0000000',''),'-','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set first day of month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromDate",
					"value": {
						"value": "@concat(pipeline().parameters.Year,pipeline().parameters.Month,'01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extend Cost File",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set toDate to be last day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Spark Extend Cost File",
						"type": "NotebookReference"
					},
					"parameters": {
						"toDate": {
							"value": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"type": "string"
						},
						"fromDate": {
							"value": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							},
							"type": "string"
						},
						"amortizedCostPath": {
							"value": {
								"value": "@variables('AmortizedCost_Path')",
								"type": "Expression"
							},
							"type": "string"
						},
						"actualCostPath": {
							"value": {
								"value": "@variables('ActualCost_Path')",
								"type": "Expression"
							},
							"type": "string"
						},
						"container": {
							"value": {
								"value": "@variables('Container')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool32",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				}
			}
		],
		"parameters": {
			"Month": {
				"type": "string",
				"defaultValue": "11"
			},
			"Year": {
				"type": "string",
				"defaultValue": "2022"
			}
		},
		"variables": {
			"toDate": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"AmortizedCost_Path": {
				"type": "String",
				"defaultValue": "exports/monthly/ACMMonthlyAmortizedCost/"
			},
			"Container": {
				"type": "String",
				"defaultValue": "usage"
			},
			"ActualCost_Path": {
				"type": "String",
				"defaultValue": "exports/monthly/ACMMonthlyActualCost/"
			}
		},
		"folder": {
			"name": "Management API (New)"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T00:47:01Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}