pipeline/Test ADF3.json
{
	"name": "Test ADF3",
	"properties": {
		"activities": [
			{
				"name": "Set 1st day in Month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set first day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "toDate",
					"value": {
						"value": "@concat(pipeline().parameters.Year_yyyy,'-',pipeline().parameters.Month_mm,'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set first day of month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromDate",
					"value": {
						"value": "@concat(pipeline().parameters.Year_yyyy,'-',pipeline().parameters.Month_mm,'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Convert CSV to Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set 1st day in Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 2
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 5
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 5,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "AccountId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "AccountOwnerEmail",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "AdditionalInfo",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "Double",
									"ordinal": 5
								},
								"sink": {
									"name": "ConsumedQuantity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "ConsumedService",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "ConsumedServiceId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "Double",
									"ordinal": 8
								},
								"sink": {
									"name": "Cost",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"name": "Date"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"name": "DepartmentId"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"name": "DepartmentName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"name": "InstanceId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"name": "MeterCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"name": "MeterId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 16
								},
								"sink": {
									"name": "MeterName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 17
								},
								"sink": {
									"name": "MeterRegion",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 18
								},
								"sink": {
									"name": "MeterSubCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 19
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 20
								},
								"sink": {
									"name": "ProductId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 21
								},
								"sink": {
									"name": "ResourceGroup",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 22
								},
								"sink": {
									"name": "ResourceLocation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 23
								},
								"sink": {
									"name": "ResourceLocationId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "Double",
									"ordinal": 24
								},
								"sink": {
									"name": "ResourceRate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 25
								},
								"sink": {
									"name": "ServiceAdministratorId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 26
								},
								"sink": {
									"name": "ServiceInfo1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 27
								},
								"sink": {
									"name": "ServiceInfo2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 28
								},
								"sink": {
									"name": "StoreServiceIdentifier",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 29
								},
								"sink": {
									"name": "SubscriptionGuid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 30
								},
								"sink": {
									"name": "SubscriptionId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 31
								},
								"sink": {
									"name": "SubscriptionName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 32
								},
								"sink": {
									"name": "Tags",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 33
								},
								"sink": {
									"name": "UnitOfMeasure",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 34
								},
								"sink": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 35
								},
								"sink": {
									"name": "ResourceGuid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 36
								},
								"sink": {
									"name": "OfferId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 37
								},
								"sink": {
									"name": "ChargesBilledSeparately",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 38
								},
								"sink": {
									"name": "Location",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 39
								},
								"sink": {
									"name": "ServiceName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 40
								},
								"sink": {
									"name": "ServiceTier",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": false,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TestADFDataset",
						"type": "DatasetReference",
						"parameters": {
							"toDate": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADFTestParquetFile",
						"type": "DatasetReference",
						"parameters": {
							"toDate": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Parquet to CSV Cleaned",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Convert CSV to Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"maxConcurrentConnections": 5,
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 5
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADFParquetSource",
						"type": "DatasetReference",
						"parameters": {
							"toDate": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADFCSVDest",
						"type": "DatasetReference",
						"parameters": {
							"toDate": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							},
							"scope": {
								"value": "@variables('scope')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Year_yyyy": {
				"type": "string",
				"defaultValue": "2022"
			},
			"Month_mm": {
				"type": "string",
				"defaultValue": "08"
			}
		},
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"toDate": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"scope": {
				"type": "String",
				"defaultValue": "daily"
			}
		},
		"folder": {
			"name": "PipelinesNotInUse/Delete/Testing"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-16T16:03:55Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}