pipeline/Test ADF2.json
{
	"name": "Test ADF2",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy file from MS to Synapse datastore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Dataflow2",
						"type": "DataFlowReference",
						"parameters": {
							"toDate": {
								"value": "'@{variables('toDate')}'",
								"type": "Expression"
							},
							"fromDate": {
								"value": "'@{variables('fromDate')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SourceRawCSV": {
								"toDate": {
									"value": "@variables('toDate')",
									"type": "Expression"
								},
								"fromDate": {
									"value": "@variables('fromDate')",
									"type": "Expression"
								}
							},
							"CleanedCSVSink": {
								"toDate": "@variables('toDate')",
								"fromDate": "@variables('fromDate')"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Bearer",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://acm-toolkit-kv.vault.azure.net/secrets/EA-API-PRI-KEY/37f1186e0d774e2a8c90c134412345fe?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Post Consumption Request",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set 1st day in Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Bearer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://consumption.azure.com/v3/enrollments/57950773/usagedetails/submit?startTime=',variables('fromDate'),'&endTime=',variables('toDate'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ',activity('Get Bearer').output.value)}",
							"type": "Expression"
						}
					},
					"body": "{}"
				}
			},
			{
				"name": "Until Data Ready",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Post Consumption Request",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(not(empty(activity('Check Status').output.blobPath)))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Post Consumption Request').output.reportUrl",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ',activity('Get Bearer').output.value)}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Waiting for Data",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Check Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "Set blobPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until Data Ready",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "blobPath",
					"value": {
						"value": "@activity('Check Status').output.blobPath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set 1st day in Month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set first day of month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "toDate",
					"value": {
						"value": "@concat(pipeline().parameters.Year_yyyy,'-',pipeline().parameters.Month_mm,'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set first day of month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromDate",
					"value": {
						"value": "@concat(pipeline().parameters.Year_yyyy,'-',pipeline().parameters.Month_mm,'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy file from MS to Synapse datastore",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set blobPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"maxConcurrentConnections": 5,
							"requestMethod": "GET",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 5
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ms_billing_output_file",
						"type": "DatasetReference",
						"parameters": {
							"blobPath": {
								"value": "@variables('blobPath')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TestADFBinaryFile",
						"type": "DatasetReference",
						"parameters": {
							"toDate": {
								"value": "@variables('toDate')",
								"type": "Expression"
							},
							"fromDate": {
								"value": "@variables('fromDate')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Year_yyyy": {
				"type": "string",
				"defaultValue": "2022"
			},
			"Month_mm": {
				"type": "string",
				"defaultValue": "08"
			}
		},
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"toDate": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelinesNotInUse/Delete/Testing"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-16T16:03:53Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}