pipeline/Test Get Daily Usage_Manual 2022-08-22.json
{
	"name": "Test Get Daily Usage_Manual 2022-08-22",
	"properties": {
		"activities": [
			{
				"name": "Get Bearer",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://acm-toolkit-kv.vault.azure.net/secrets/EA-API-PRI-KEY/d222708c46d54a0abd273cc0877b6aad?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Post Consumption Request",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Bearer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://consumption.azure.com/v3/enrollments/57950773/usagedetails/submit?startTime=',variables('date'),'&endTime=',variables('date'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ',activity('Get Bearer').output.value)}",
							"type": "Expression"
						}
					},
					"body": "{}"
				}
			},
			{
				"name": "Until Data Ready",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Post Consumption Request",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(not(empty(activity('Check Status').output.blobPath)))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Post Consumption Request').output.reportUrl",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ',activity('Get Bearer').output.value)}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Waiting for Data",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Check Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "Set blobPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until Data Ready",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "blobPath",
					"value": {
						"value": "@activity('Check Status').output.blobPath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy file from MS to Synapse datastore",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set blobPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ms_billing_output_file",
						"type": "DatasetReference",
						"parameters": {
							"blobPath": {
								"value": "@variables('blobPath')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "S037_Test_Usage_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"fromDate": {
								"value": "@variables('date')",
								"type": "Expression"
							},
							"toDate": {
								"value": "@variables('date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Copy file from MS to Synapse datastore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Notebook 1",
						"type": "NotebookReference"
					},
					"parameters": {
						"fileName": {
							"value": {
								"value": "@concat(variables('date'),'_',formatDateTime(utcNow(),'yyyy-MM-dd'),'-raw.csv')",
								"type": "Expression"
							},
							"type": "string"
						},
						"filePath": {
							"value": "/usage/test/",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"variables": {
			"Bearer": {
				"type": "String"
			},
			"blobPath": {
				"type": "String"
			},
			"date": {
				"type": "String",
				"defaultValue": "2022-09-05"
			}
		},
		"folder": {
			"name": "PipelinesNotInUse/Consumption API (Old)"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-08T15:34:41Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}