pipeline/Update_Pricesheet.json
{
	"name": "Update_Pricesheet",
	"properties": {
		"activities": [
			{
				"name": "Copy Pricesheet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set yyyymm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['offerId']"
								},
								"sink": {
									"name": "offerId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['billingPeriodId']"
								},
								"sink": {
									"name": "billingPeriodId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['meterId']"
								},
								"sink": {
									"name": "meterId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['meterName']"
								},
								"sink": {
									"name": "meterName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['unitOfMeasure']"
								},
								"sink": {
									"name": "unitOfMeasure",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['includedQuantity']"
								},
								"sink": {
									"name": "includedQuantity",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['partNumber']"
								},
								"sink": {
									"name": "partNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['unitPrice']"
								},
								"sink": {
									"name": "unitPrice",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['currencyCode']"
								},
								"sink": {
									"name": "currencyCode",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Pricesheet_Json_src",
						"type": "DatasetReference",
						"parameters": {
							"Date_yyyyMM": {
								"value": "@variables('Date_yyyMM')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Pricesheet_Parquet_dst",
						"type": "DatasetReference",
						"parameters": {
							"latest": false,
							"Date_yyyyMM": {
								"value": "@variables('Date_yyyMM')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy dated file to LATEST file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Pricesheet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Pricesheet_Parquet_dst",
						"type": "DatasetReference",
						"parameters": {
							"latest": false,
							"Date_yyyyMM": {
								"value": "@variables('Date_yyyMM')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Pricesheet_Parquet_dst",
						"type": "DatasetReference",
						"parameters": {
							"latest": true,
							"Date_yyyyMM": "LATEST"
						}
					}
				]
			},
			{
				"name": "Set yyyymm",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date_yyyMM",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyyMM')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Date_yyyMM": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Consumption API (Old)"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-20T14:27:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}